.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loader {
  position: relative;
  display: inline-block;
  margin: 0 12.5% 100px;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(6, 189, 6);
  border-radius: 50%;
  border-top-width: 0;
  animation: spin 0.75s infinite linear;
}
.loader::before,
.loader::after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    left: 40%;
  }
}