.wrapper {
  margin-top: 40px;
}

.slider {
  position: relative;
  margin: 0 auto;
  height: 500px;
  width: 900px;
  border: 1px solid black;
  overflow: hidden;
}
.images {
  display: none;
  position: absolute;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  transition: 1s;
  
}
.active {
  display: block;
}
.next {
  display: block;
  opacity: 0.2;
}
.prev {
  display: block;
  opacity: 0.2;
}
.img {
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  border: none;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-left: 5px solid red;
  border-bottom: 5px solid red;
  outline: none;
  background: none;
  opacity: 0.7;
  transition: opacity 0.4s;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
}

.leftArrow {
  left: 5%;
  transform: rotate(45deg);
}

.rightArrow{
  right: 5%;
  transform: rotate(225deg);
}

.radios {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 90%;
  background-color: black;
  opacity: 0.6; 
  width: 100%;
  height: 10%;
}
.radioWraper {
  margin-left: 10px; 
}
.radio {
  display: none;
}
.radio:checked + .radioLabel::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: green;
}
.radioLabel {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
}
.radioLabel:checked {
  background-color:  green;
}
