.caption {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width:100%;
	border: 1px solid;
	padding: 10px 0;
}

.goods {
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.good {
	width: 100%;
	display: flex;
	margin-top: 10px;
	flex-wrap:  wrap;
	justify-content: space-around;
	border: 1px solid;
}
.img {
    display: block;
    height: 150px;
    margin: auto 10px;
}
.information {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 50%;
	margin-left: auto;
	text-align: center;
}

.good_item {
	width: 40%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 10px 0;
}

.caption_good {
	width: 40%;
	
}

.amount {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caption_amount {
	width: 20%;
	text-align: center;
}

.price {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caption_price {
	width: 20%;
	text-align: center;
}
.sum {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	height: 100px; 
}