.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.img {
  display: block;
  height: 400px;
  margin: auto 10px;
}
.information {
  font-size: 18px;
  width: 60%;
  margin-top: 10px; 
  margin-left: 50px;
}

.element {
  padding-bottom: 30px;
  line-height: 1.8;  
}
.element:first-child {
  color: rgb(95, 94, 94);
}
.add {
  padding: 15px;
  cursor: pointer;
  background-color: rgb(233, 2, 2);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
.gotobasket {
  display: block;
  text-decoration: none;
  width: 160px;
  text-align: center;
  background-color: rgb(6, 129, 6);
}

@media screen and (max-width: 480px) {
  .wrapper {
    justify-content: center;
  }
  .information {
    margin-top: 15px;
    width: 100%;
  }
}