.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.img {
  display: block;
  height: 400px;
  margin: auto 10px;
}
.information {
  font-size: 18px;
  width: 60%;
  margin-top: 10px; 
  margin-left: 50px;
}

.element {
  padding-bottom: 30px;
  line-height: 1.8;  
}
.element:first-child {
  color: gray;
}
.add {
  padding: 10px;
  margin-top: 20px;
  border: 1px solid;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}
.good {
  /* border: 1px solid;  */
}

@media screen and (max-width: 480px) {
  .wrapper {
    justify-content: center;
  }
  .information {
    margin-top: 15px;
    width: 100%;
  }
}