.wrapper {
  margin-top: 40px;
  padding-bottom: 20px;
}
.list {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
.picture {
  display: block;
  height: 60px;
  margin: auto 10px;
}
.item {
  margin-right: 10px;
  font-family: sans-serif;
  font-weight: 700;
  color: #a3a3a3;
  cursor: pointer;
}
.item:last-child {
  position: relative;
  margin-left: auto;
}
.link {
  color: inherit;
  font-size: 22px;
  text-decoration: none;
  padding: 5px 10px;
}
.active {
  color: rgb(40, 172, 40);
}
.amount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 55%;
  left: 64%;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: none;
  color: #ffffff;
  font-size: 16px;
  background-color: red;
}